<h1>Create Your Service bro !</h1><br>
<a href="/user/:id/create/webftp" class="button big">WebFTP</a><br>
<a href="/user/:id/create/vpsroot" class="button big">VPSroot</a><br>
<a href="/user/:id/create/vpsuser" class="button big">VPSuser</a>