<h1>Create Your Service bro !</h1><br>
<a href="create/webftp" class="button big">WebFTP</a><br>
<a href="create/vpsroot" class="button big">VPSroot</a><br>
<a href="create/vpsuser" class="button big">VPSuser</a>